<!-- <div class="header">

    <div class="bloco">
        <h1>Bluemmers Library</h1>
    </div>

    <div class="bloco">
        <img href="/read" src="/static/LogoLibrary.png" width="200" alt="Bluemmers Library" />
    </div>

    <div class="bloco">
        <a href="/create" class="botao">Criar (CREATE)</a>
        <a href="/read" class="botao">Visualizar tudo (READ)</a> -->
    <!-- </div>

    <hr>
</div>     -->

<div class="header">
    <div class="bloco">
        <img src="/static/LogoLibrary.png" width="200" alt="Blue Edtech" />
        <header class="header">
            <a href="/">Bluemmers Library</a>
            <nav>
              <ul class="menu">
                <li><a href="/">Sobre</a></li>
                <li><a href="/read">Livros</a></li>
                <li><a href="/">Contato</a></li>
                <li><a href="/">Ações</a></li>
              </ul>
            </nav>
          </header>