@{
    ViewData["Title"] = "Home Page";
}


<div class="form-group">

    <a class="btn btn-info" asp-controller="Paciente" asp-action="Index">Pacientes</a>
    <a class="btn btn-info" asp-controller="Consulta" asp-action="Index">Consultas</a>

</div>
