@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-primary text-center" role="alert">
    <h1 class="display-3">Blue Medical Center</h1>
</div>
<center><img src="https://www.templates.concepthost.com.br/clinicas/medical/upload/projetos/1561559404.jpg" class="img-fluid" /></center>