<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css"/>
    <title>Cadastro</title>
</head>
<body>

    <div class="div_principal">
        <p>Exemplos Forms!</p>

        <form class="elementos">
            <div><!--Botão novo cadastro-->
                <input type="button" name="Botão">Novo</input><br>
            </div>

            <div><!--ChekBoxs para escolher as opções que serão preenchidas-->
                <input type="checkbox" name="Escolha uma Opção" value="Nome"/>
                <input type="checkbox" name="Escolha uma Opção" value="Data de nascimento"/>
                <input type="checkbox" name="Escolha uma Opção" value="Selecionar a cor"/><br>
            </div>

            <div><!--Digitar o nome-->
                <label for="nome">Nome: </label>
                <input type="text" id="nome" name="Digite aqui"/><br>
            </div>

            <div>
                <label for="cor">Cor: </label>
                <input type="color" id="cor" name="Selecione uma cor"/><br>
            </div>

            <div>
                <label for="data_atual">Data atual: </label>
                <input type="date" id="data_atual" name="Data"/><br>
            </div>

            <div>
                <label for="data_hora">Data e Hora: </label>
                <input type="datetime" id="data_hora" name="Data e hora"/><br>
            </div>

            <div>
                <label for="data_local">Data local: </label>
                <input type="datetime-local" id="data_local" name="data alguma coisa"/><br>
            </div>

            <div>
                <label for="email">E-mail: </label>
                <input type="email" id="email" name="Digite o seu e-mail"/><br>
            </div>

            <div>
                <label for="teste">Teste: </label>
                <input type="file" id="teste" name="Teste"/><br>
            </div>

            <div>
                <label for="teste2">Teste 2: </label>
                <input type="hidden" id="teste2" name="Teste2"/><br>
            </div>

            <div>
                <label for="imagem">Imagem: </label>
                <input type="image" id="imagem" name="Selecione a Imagem"/><br>
            </div>

            <div>
                <label for="teste3"> Teste 3: </label>
                <input type="month" id="teste3" name="Teste3"/><br>
            </div>

            <div>
                <label for="sexo">Sexo: </label>
                <input type="radio" id="sexo" name="Escolha uma opção 2" value="Masculino"/>
                <input type="radio" id="sexo" name="Escolha uma opção 2" value="Feminino"/><br>
            </div>

            <div>
                <label for="aleartorio">Aleartório: </label>
                <input type="range" id="aleartorio" name="aleartorio"/><br>
            </div>

            <div>
                <label for="teste4">Teste 4: </label>
                <input type="search" id="teste4" name="Teste 4"/><br>
            </div>

            <div>
                <label for="teste5">Teste 5: </label>
                <input type="submit" id="teste5" name="Teste 5"/><br>
            </div>

            <div>
                <label for="telefone">Telefone: </label>
                <input type="tel" id="telefone" name="Telefone"/><br>
            </div>

            <div>
                <label for="teste6">Teste 6: </label>
                <input type="time" id="teste6" name="teste 6"/><br>
            </div>

            <div>
                <label for="url">URL: </label>
                <input type="url" id="url" name="URL"/><br>
            </div>

            <div>
                <label for="teste7">Teste 7: </label>
                <input type="week" id="teste7" name="Teste 7"/><br>
            </div>

            <div>
                <label for="senha">Senha: </label>
                <input type="password" id="senha" name="Senha"/><br>
            </div>

            <div>
                <label for="reset">Reset: </label>
                <input type="reset" id="reset" name="Botão de reset"/><br>
            </div>

            
            <input list="browsers" name="browser">
            <datalist id="browsers">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>
            <input type="submit">
             

        </form>
    </div>
</body>
</html>