<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../estilos/estilos.css"/>
    <title>Projeto Eisten</title>
</head>
<body>
    <div class="infos"><!--Div Nome-->
        <div><!--Div label nome-->
            <p><b></b>Nome: Betão Eisten</p>
        </div>
        <div><!--Nome-->

        </div>
    </div>
    <div><!--Div label idade-->
        <p>Idade: 42</p>
    </div>
        <div><!--Div imagem-->
            <img src="../static/BetaoDoido.png" alt="" width="230" height="300"/>
    </div>
        <div><!--Div mensagem-->
            <p>Betão tá Doido!</p>
    </div>
</body>
</html>