<!DOCTYPE html>
 
<html> 
    <head>
        <title>BlueEdtech - Módulo 2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../estilos/estilos.css"/>
    </head>

<body>
    <div class="div_principal"> <!--Div página principal (tela branca)-->
        <div class="linha_titulo_principal"> <!--Título geral-->
            <p><b>Calculadora de Danos<b></p>
        </div>

            <div class="linha_titulo_principal"> <!--Título 1-->
            <p>Selecione um Personagem</p>
            </div>
            <div class="ajuste_elementos"> <!--Pesonagens-->
                <div>
                    <img src="../img/Orc.png" alt="Personagem Orc" width="200" height="200" />
                    <p class="legendas_imagens">Orc</p>
                </div>
                <div>  <!--Pesonagens-->   
                    <img src="../img/Globin.png" alt="Personagem Globin" width="200" height="200" />
                    <p class="legendas_imagens">Globin</p>
                </div>
                <div>  <!--Pesonagens-->
                    <img src="../img/Feiticeira.png" alt="Personagem Feiticeira" width="200" height="200" />
                    <p class="legendas_imagens">Feiticeira</p>
                </div>
            </div>
        <div class="linha_titulo_principal"><!--Título 2-->
            <p>Selecione uma Arma</p>
        </div>
            <div class="ajuste_elementos"> <!--Armas-->
                <div> <!--Armas-->
                    <img src="../img/Soco.png" alt="Utilizar Soco" width="200" height="200" />
                    <p class="legendas_imagens">Soco</p>
                </div>
                <div> <!--Armas-->
                    <img src="../img/Arco.png" alt=" Utilizar Arco" width="200" height="200" />
                    <p class="legendas_imagens">Arco</p>
                </div>
                <div> <!--Armas-->
                    <img src="../img/Espada.png" alt="Utilizar Espada" width="200" height="200" />
                    <p class="legendas_imagens">Espada</p>
                </div>
            </div>
        <div class="linha_titulo_principal"><!--Botão-->
            <button id= "btnCalcular" type="button">Calcular Dano</button>
        </div>
    </div>
</body>

</html>