<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo da Blue - HTML, CSS, JS, Python e SQL</title>
    <link rel="stylesheet" href="/static/estilo.css" />
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco">
        <h2><b>Contribua Com o Catálogo do Acervo CineBlue <br>
            ou tenha informações sobre o Filme que vc procura!
        </b></h2>
    </div>

    <div class="bloco">
        <img src="/static/banner_B_E.png" width="500" alt="Bluemmer Cinéfilo"/>
    </div>

</body>
</html>