<!DOCTYPE html>
 
<html> 
    <head>
        <title>BlueEdtech - Módulo 2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/estilos.css"/>
    </head>

<body>
    <div class="box_branco">
    <h1><b href= https://blueedtech.com.br>
        <img src="/static/logo-blue-croped.gif" width="98">BlueEdtech</b></h1>

    <div class="box_azul">
        <div class= "container_azul"></div>
        <p><b>Módulo 2 - Front-End</b></b></p>
        <p><b>Web | Cloud | Database</b></p>

            <div class="box_rosa">
                <table class="box_rosa">
                    <p><b> Lista de Presença</b></p>
                    <tr></tr><b></b>
                        <th class="tabela"> Aluno</th>
                        <th class="tabela"> Presente?</th>
                    </b></tr>
                    <tr>
                        <td class="tabela">Felipe Morais</td>
                        <td class="tabela">Sim</td>
                    </tr>
                    <tr>
                        <td class="tabela">Gabriela Silva</td>
                        <td class="tabela">Não</td>
                    </tr>
                </table>
                <br>
                <br>
        </div>

        <div class="box_amarelo">
            <p><b> Agenda de hoje</b></p>
            <ul>    
                <li><b>Introdução ao Desenvolvimento Web</b></li>
                <li><b>Estrutura HTML</b></li>
                <li><b>Layout de Páginas com CSS</b></li>
                <br>
                <br>
            </ul>
        </div>

    </div>

</body>

</html>