<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo da Blue - HTML, CSS, JS, Python e SQL</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    {% include 'header.html' %}
    
    {% if sucesso %}

    <div class="content-table">
        <p class="title-table">
            Registro removido com sucesso!
        </p>
    </div>

    <div class="title-table">
        <a href="/read" class="botao">Visualizar todos os registros</a>
    </div>

    {% elif registro %}

    <div class="content-table">
        <h2 class="title-table"><span class="novo_id">{{ registro.titulo }}</span> </h2>
    </div>
    <div class="title-table">
        <img src="{{ registro.imagem_url }}" alt="{{ registro.nome }}" id="imagemSingle" width="150" height="200" />
    </div>


    <div class="content-table">
        <p class="title-table">
            Tem certeza que deseja deletar o livro <span class="novo_id">{{ registro.nome }}</span> ?
            <br />
            <a href="/delete/{{ registro.id }}/confirmed" class="botao">Confirmar</a>
            <a href="/read" class="botao">Cancelar</a>
        </p>
    </div>

    {% else %}

    <div class="content-table">
        <p class="title-table">
            NENHUM LIVRO ENCONTRADO! <br /><br /> VALOR INVÁLIDO DE ID!
        </p>
    </div>

    <div class="title-table">
        <a href="/read" class="botao">Visualizar todos os registros</a>
    </div>

    {% endif %}

</body>
</html>