@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos à BlueDev!</h1>
    <p><a href="https://blueedtech.com.br/">O maior catálogo de informações sobre diferentes Linguagens de Programação do Universo Blue!!!</a>.</p>
    <img src="\Aulas_Blue\Módulo 3\Imagens\BlueEdtech2.jpg" alt=""/>
</div>
