@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos à BlueDev!</h1>
    <p><a href="https://blueedtech.com.br/">Escolha diferentes Linguagens de Programação e venha se tornar um Bluemmer!!!</a>.</p>
    <img src="\Aulas_Blue\Módulo 3\Imagens\BlueEdtech2.jpg" alt="" />
</div>


<div class="form-group">

    <a class="btn btn-info" asp-controller="Linguagens" asp-action="Index">Linguagens</a>
    <a class="btn btn-info" asp-controller="Alunos" asp-action="Index">Alunos</a>

</div>